* {
  text-align: center;
  padding: 0.1rem;
  margin: 0;
  border-radius: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#container {
  background-color: rgb(94, 90, 90);
  border: 0.2rem solid;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#newGame {
  display: flex;
  justify-content: center;
  align-items: center;
}
#startNewGame {
  margin: 0;
  background-color: rgb(61, 235, 61);
}

#choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
#choice div {
  flex: 1;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#resultCount {
  display: flex;
  flex-direction: column;
}
#whoWonRound {
  background-color: yellowgreen;
}
#numberOfWins {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(221, 221, 94);
}
button {
  margin: 1%;
}
#playerButtons button {
  background-color: rgb(67, 90, 223);
}
#computerButtons button {
  background-color: gray;
  color: rgb(175, 171, 171);
}
